.header {
  text-align: center;
}
.logo {
  height: 50px;
}
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  line-height: 40px;
  text-align: left;
}
.header nav {
  margin-left: 7rem;
}
.search-field {
  margin-right: 7rem;
}

.header nav a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
  padding: 5px;
  font-size: 20px;
}
.header nav a:hover {
  background-color: lightgray;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.user-stutas {
  margin-right: 2rem;
}
small {
  margin-right: 1rem;
  color: goldenrod;
}
.btn-log {
  background: goldenrod;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
}
.btn-loguot:hover {
  background: rgb(156, 113, 2);
}
